---
layout: default
is-top-level: true
page-specific-stylesheets:
    - /resume.css
---

<section class="hero gradient-background   flex-column flex-vert-center">
    <div class="sticky-top title-holder">
        <h1 class="title-text">{{ site.author.name }}</h1>
        <h2 class="subtitle-text">{{ site.author.tagline-html }}</h2>
    </div>
</section>


<article>
    <header class="tldr   flex-column flex-horiz-stretch flex-vert-center">
        <p>{%- if site.author.professsional.start-year -%}<strong>Since {{ site.author.professsional.start-year }}</strong> {%- endif -%} {{ site.description | markdownify }}</p>
    </header>

    {% include contact-list.html %}

    <div class="flex-row flex-wrap has-sidebar">
        <main style="transform: translate3d(0,0,0) !important">
            {%- include resume/experience/list-start.html
                title='Em&shy;ploy&shy;ment'
                id='Employment'
            %}
                {%- include resume/experience/infobox.html
                    company='Major League Baseball'
                    title='<span>Senior</span> <span>Soft&shy;ware</span> <span>En&shy;gi&shy;neer</span>'
                    duration='<time datetime="2024-10-16">2024</time> – <time datetime="2025-12-26">Christmas 2025</time>'

                    summary-line-1='Led company-wide migration to Swift structured concurrency, boosting performance & maintainability, reducing concurrency crashes by 95%. <br/>Executed precision migration of industry-scale codebase, preserving all business logic: zero-downtime transition with minimal learning curves.'
                    summary-line-2='Developed migration roadmap & technical documentation, enabling 100+ engineers to adopt Swift concurrency patterns'
                    summary-line-3='Augmented cross-platform layer to enable unified codebase serving universal apps for iOS, watchOS, iPadOS, & tvOS. <br/>Retooled legacy components for better integration, reducing technical debt while maintaining backward compatibility'

                    url='https://MLB.com'
                    logo-for-light-theme='/img/MLB-logo-lightMode.svg'
                    logo-for-dark-theme='/img/MLB-logo-darkMode.svg'
                    badge='entertainment'
                %}
                {%- include resume/experience/infobox.html
                    company='Realtor.com'
                    title='<span>Staff</span> <span>Soft&shy;ware</span> <span>En&shy;gi&shy;neer</span>'
                    duration='<time datetime="2022-05-31">2022</time> – <time datetime="2023-06-09">2023</time>'

                    summary-line-1='<strong>Lead transition</strong> to SwiftUI. <strong>Guided</strong> removal of core components.'
                    summary-line-2='Cross-team leadership to ensure clear sync & quality product. <strong>Drove changes</strong> of product, process, & team.'
                    summary-line-3='Worked with UI/UX to finalize &amp; implement <strong>full redesign</strong>. <strong>Documented & encoded</strong> the design system.'

                    url='https://Realtor.com'
                    logo='/img/Realtor.com-logo.svg'
                    badge='real-estate'
                %}
                {%- include resume/experience/infobox.html
                    company='Yes Health'
                    title='<span>Founding</span> <span>Soft&shy;ware</span> <span>En&shy;gi&shy;neer</span>'
                    duration='<time datetime="2021-02-01">2021</time> – <time datetime="2022-03-22">2022</time>'
                    
                    summary-line-1='Spearheaded hiring efforts, growing team from 1 to 3 engineers. Led the engineering of <strong>multiple health &amp; wellness products</strong> across multiple platforms'
                    summary-line-2='Executed platform migration from offshore <strong>Objective-C</strong>+UIKit to inhouse Swift+<strong>SwiftUI</strong>. Worked with UI/UX team to <strong>redesign</strong> &amp; <strong>rebrand</strong> those products.'
                    summary-line-3='Improved product &amp; company <strong>diversity &amp; inclusion</strong>. Set department-wide processes &amp; <strong>best practices</strong>: agile kanban sprints, <strong>version control</strong>, <strong>documentation</strong> system, etc.'

                    url='https://YesHealth.com'
                    logo='/img/Yes-Health-logo.svg'
                    badge='healthcare'
                %}
                {%- include resume/experience/infobox.html
                    company='PKWare'
                    title='<span>Sen&shy;ior</span> <span>Soft&shy;ware</span> <span>En&shy;gi&shy;neer</span>'
                    duration='<time datetime="2020-03-02">2020</time> – <time datetime="2021-01-18">2021</time>'

                    summary-line-1='Maintained & invented personal <strong>file encryption</strong> software for macOS and iOS, as well as <strong>internal libraries</strong> to support these.'
                    summary-line-2='<strong>Completely redesigned</strong> the iOS app from the ground up to focus on core competencies, improve accessibility, and optimize flow.'

                    url='https://PKWare.com'
                    logo-for-light-theme='/img/PKWare-blue-logo.svg'
                    logo-for-dark-theme='/img/PKWare-white-logo.svg'
                    badge='infosec'
                %}
                {%- include resume/experience/omitted.html
                    company='RR <span>Don&shy;nel&shy;ley</span>'
                    title='<span>Soft&shy;ware</span> <span>Ar&shy;chi&shy;tect</span>'
                    duration='<time datetime="2019-07-01">July</time> – <time datetime="2019-10-31">October 2019</time>'
                %}
                {%- include resume/experience/infobox.html
                    company='<span>Ion&shy;ic</span> <span>Se&shy;cu&shy;ri&shy;ty</span>'
                    title='<span>Soft&shy;ware</span> <span>En&shy;gi&shy;neer</span> III'
                    duration='<time datetime="2017-03-27">2017</time> – <time datetime="2019-06-28">2019</time>'

                    summary-line-1='Engineered <strong>user-facing</strong> file <strong>encryption</strong> and access software for macOS. Collaborated on a company-wide <strong>software platform</strong> to allow such client software to be made consistent on many other platforms, including <strong>macOS, Android, Windows, and iOS</strong>.'
                    summary-line-2='Worked closely with UI/UX team to hone the design of multiple company products, including <strong>graphics</strong>, <strong>animations</strong>, user <strong>flows</strong>, and overall <strong>experience</strong>.'

                    url='https://Ionic.com'
                    logo-for-light-theme='/img/IONIC-dark-grey-logo.svg'
                    logo-for-dark-theme='/img/IONIC-white-logo.svg'
                    badge='infosec'
                %}
                {%- include resume/experience/infobox.html
                    company='<span>Re&shy;newed</span> <span>Vi&shy;sion</span>'
                    title='<span>mac&shy;OS</span> <span>Soft&shy;ware</span> <span>En&shy;gi&shy;neer</span>'
                    duration='<time datetime="2016-07-14">2016</time> – <time datetime="2017-01-16">2017</time>'

                    summary-line-1='Built industry-leading <strong>professional presentation</strong> software for <strong>macOS</strong>. Collaboratively created <strong>software platforms</strong> with <strong>open-source &amp; proprietary</strong> tech: advanced <strong>auto font scaling</strong>, <strong>inspector</strong>, &amp; animated grid item selector.'
                    summary-line-2='Designed dozens of <strong>icons</strong> &amp; other graphics, <strong>user flows</strong>, interface approaches, <strong>animations</strong>, and more.'

                    url='https://RenewedVision.com'
                    logo='/img/Renewed-Vision-logo-icon.png'
                    badge='entertainment'
                %}
                {%- include resume/experience/infobox.html
                    company='NCR &mdash; <span>Small &amp; <span>Medi&shy;um</span> <span>Busi&shy;ness</span></span>'
                    title='<span>Mo&shy;bile</span> <span>Soft&shy;ware</span> <span>En&shy;gi&shy;neer</span>'
                    duration='<time datetime="2015-01-19">2015</time> – <time datetime="2016-06-06">2016</time>'

                    summary-line-1='Built industrial-scale <strong>point-of-sale</strong> firmware for <strong>Android</strong> &amp; app for <strong>iOS</strong>, handling millions of dollars per week. Implemented headlining features such as <strong>64-bit</strong> support, <strong>EMV</strong> payments, <strong>scale-weighing</strong> of items, &amp; <strong>future orders</strong>, including any hardware drivers necessary for these.'
                    summary-line-2='Worked alongside UI/UX team to <strong>revamp</strong> the system\'s <strong>look-and-feel</strong>.'

                    url='https://NCRSilver.com'
                    logo='/img/NCR-logo.svg'
                    badge='fintech'
                %}
                {%- include resume/experience/omitted.html
                    company='USG'
                    title='Web <span>De&shy;vel&shy;op&shy;er</span> &amp; <span>De&shy;sign&shy;er</span>'
                    duration='<time datetime="2012-09-19">2012</time> – <time datetime="2014-02-17">2014</time>'
                %}
            {%- include resume/experience/list-end.html more-button-href='/More' %}

            {%- include resume/experience/list-start.html
                title='Edu&shy;ca&shy;tion'
                id='Education'
            %}
                {%- include resume/experience/infobox.html
                    company='<span>Co&shy;lum&shy;bus</span> State <span>Uni&shy;ver&shy;sity</span>'
                    title='<span>Bach&shy;e&shy;lor</span> of <span>Sci&shy;ence</span> in <span>Com&shy;put&shy;er</span> <span>Sci&shy;ence</span>'
                    duration='<span>Geor&shy;gia</span>, <time datetime="2014-05-12">2014</time>'
                    
                    summary-line-1='Software Engineering, Artificial Intelligence, Games Programming, Databases, Computer Networks, Software Architecture, Operating Systems, and more.'

                    url='https://ColumbusState.edu'
                    logo-for-light-theme='/img/CSU_Logo_Tower_WhiteBackground.svg'
                    logo-for-dark-theme='/img/CSU_Logo_Tower_BlueBackground.svg'
                %}
                {%- include resume/experience/infobox.html
                    company='<span>Geor&shy;gia</span> <span>Gwin&shy;nett</span> <span>Coll&shy;ege</span>'
                    title='<span>Sup&shy;ple&shy;men&shy;ta&shy;ry</span> <span>stud&shy;ies</span>'
                    
                    summary-line-1='Calculus, music, philosophy, sociology, and more.'

                    url='https://ColumbusState.edu'
                    logo-for-light-theme='/img/GGC-logo-lightMode.svg'
                    logo-for-dark-theme='/img/GGC-logo-darkMode.svg'
                %}
            {%- include resume/experience/list-end.html %}
        </main>

        <section class="sidebar-right">
            {%- include resume/experience/list-start.html
                title='Ex&shy;per&shy;tise'
                id='Expertise'
            %}
                {%- include resume/experience/infobox.html
                    company='<span>AI/ML Dev&shy;el&shy;op&shy;ment</span>'
                    duration='<time datetime="2013">2013</time> - <i>Present</i>'

                    summary-line-1='Extensive work with both open-source &amp; commercial AI systems for product development.'
                    summary-line-2='Building workflows with proprietary &amp; OSS models, including Claude, Stable Diffusion, GPT, Flux, Llama, Dolphin Mixtral, and others. Experience with LoRAs, evaluation frameworks, modelfiles, ComfyUI workflows.'
                    summary-line-3='Creating, fine-tuning, &amp; deploying bespoke models. Experience with ANNs, as well as genetic algorithms and other non-ANN technologies.'
                %}
                {%- include resume/experience/infobox.html
                    company='<span>Data Sys&shy;tems</span> &amp; <span>Knowl&shy;edge Graphs</span>'
                    duration='<time datetime="2009">2009</time> - <i>Present</i>'

                    summary-line-1='Built Simpedia (2007 - 2009), then the world\'s largest knowledgebase on The Sims.'
                    summary-line-2='Production experience with SQL, NoSQL, GraphQL+Apollo, and custom graph database &amp; object-store implementations.'
                    summary-line-3='Designed &amp; implemented wiki systems, object stores, and knowledge management platforms from scratch.'
                %}
            {%- include resume/experience/list-end.html %}
            
            {% include resume-spec-list-start.html
                title='Tech Specs'
                id='Tech-Specs'
            %}
                {%- include resume-spec-bar.html
                    skill='Swift'
                    proficiency-out-of-10='10'
                %}
                {%- include resume-spec-bar.html
                    skill='Kotlin'
                    proficiency-out-of-10='6'
                %}


                {%- include resume-spec-list-section-divider.html -%}


                {%- include resume-spec-bar.html
                    skill='SwiftUI'
                    proficiency-out-of-10='10'
                %}
                {%- include resume-spec-bar.html
                    skill='macOS'
                    proficiency-out-of-10='10'
                %}
                {%- include resume-spec-bar.html
                    skill='iOS'
                    proficiency-out-of-10='10'
                %}
                {%- include resume-spec-bar.html
                    skill='watchOS'
                    proficiency-out-of-10='8'
                %}
                {%- include resume-spec-bar.html
                    skill='Frameworks / SDKs'
                    proficiency-out-of-10='10'
                %}


                {%- include resume-spec-list-section-divider.html -%}


                {%- include resume-spec-bar.html
                    skill='App-Level Security'
                    proficiency-out-of-10='9'
                %}
                {%- include resume-spec-bar.html
                    skill='Concurrency'
                    proficiency-out-of-10='10'
                %}
                {%- include resume-spec-bar.html
                    skill='Networking'
                    proficiency-out-of-10='8'
                %}
                {%- include resume-spec-bar.html
                    skill='Git'
                    proficiency-out-of-10='10'
                %}
                {%- include resume-spec-bar.html
                    skill='Open-Source'
                    proficiency-out-of-10='9'
                %}
                {%- include resume-spec-bar.html
                    skill='Architecture'
                    proficiency-out-of-10='8'
                %}
                {%- include resume-spec-bar.html
                    skill='Agile'
                    proficiency-out-of-10='9'
                %}


                {%- include resume-spec-list-section-divider.html -%}


                {%- include resume-spec-bar.html
                    skill='Learning New Skills'
                    proficiency-out-of-10='10'
                %}
            {%- include resume-spec-list-end.html %}



            {%- include resume-spec-list-start.html
                title='De&shy;sign'
                id='Design'
            %}
                {%- include resume-spec-bar.html
                    skill='UI/UX'
                    proficiency-out-of-10='9'
                %}
                {%- include resume-spec-bar.html
                    skill='Iconography'
                    proficiency-out-of-10='10'
                %}
                {%- include resume-spec-bar.html
                    skill='Web Design'
                    proficiency-out-of-10='10'
                %}
                {%- include resume-spec-bar.html
                    skill='Print Design'
                    proficiency-out-of-10='7'
                %}
                {%- include resume-spec-bar.html
                    skill='Custom Controls'
                    proficiency-out-of-10='9'
                %}
                {%- include resume-spec-bar.html
                    skill='Logo Design'
                    proficiency-out-of-10='6'
                %}


                {%- include resume-spec-list-section-divider.html -%}


                {%- include resume-spec-bar.html
                    skill='Sketch'
                    proficiency-out-of-10='10'
                %}
                {%- include resume-spec-bar.html
                    skill='Figma'
                    proficiency-out-of-10='9'
                %}
            {%- include resume-spec-list-end.html %}
        </section>
    </div>
</article>



<footer class="centered  widest-desktop-small">
    <section class="centered flex-row flex-wrap flex-horiz-space-around hide-print">
        {% if site.document.pdf %}
        <a href="/Download" class="big button">
            <i class="fa fa-download"></i>
            <span>Download as PDF</span>
        </a>
        {% endif %}
        <a href="/Portfolio" class="big button"><i class="fa fa-th"></i> <span>Portfolio</span></a>
    </section>

    <section class="hide-print flex-row flex-wrap flex-horiz-space-around font-1-1hx">
        {% if site.author.social.calendar %}
        <a href="{{ site.author.social.calendar }}" class="button medium-emphasis"><i class="fa fa-calendar"></i> <span>Calendar</span></a>
        {%- endif %}
        {% if site.author.social.contact-and-more %}
        <a href="{{ site.author.social.contact-and-more }}" class="button medium-emphasis"><i class="fa fa-address-card"></i> <span>Contacts &amp; More</span></a>
        {%- endif %}
        {% if site.author.social.linkedin-username %}
        <a href="https://LinkedIn.com/in/{{ site.author.social.linkedin-username }}" target="_blank" class="button medium-emphasis">
            <i class="fab fa-linkedin"></i>
            <span>LinkedIn</span>
        </a>
        {%- endif %}
        {% if site.author.social.stackoverflow-suffix %}
        <a href="https://stackoverflow.com/{{ site.author.social.stackoverflow-suffix }}" target="_blank" class="button medium-emphasis"><i class="fab fa-stack-overflow"></i> <span>StackOverflow</span></a>
        {%- endif %}
    </section>
    <section class="flex-row flex-wrap flex-horiz-space-around">
        {% if site.author.social.github %}
        <a href="{{ site.author.social.github }}" target="_blank" class="big button"><i class="fab fa-github"></i> <span>GitHub</span></a>
        {% else %}
            {% if site.author.social.github-suffix.personal %}
        <a href="https://github.com/{{ site.author.social.github-suffix.personal }}" target="_blank" class="button medium-emphasis"><i class="fab fa-github"></i> <span>GitHub <small>(Personal)</small></span></a>
            {% endif %}
            {% if site.author.social.github-suffix.big-projects %}
        <a href="https://github.com/{{ site.author.social.github-suffix.big-projects }}" target="_blank" class="button medium-emphasis"><i class="fab fa-github"></i> <span>GitHub <small>(Big Projects)</small></span></a>
            {% endif %}
            {% if site.author.social.github-suffix.utilities %}
        <a href="https://github.com/{{ site.author.social.github-suffix.utilities }}" target="_blank" class="button medium-emphasis"><i class="fab fa-github"></i> <span>GitHub <small>(Utilities)</small></span></a>
            {% endif %}
        {% endif %}
    </section>

    <section class="hide-print flex-row flex-wrap flex-horiz-space-around font-1-1hx">
        {% if site.author.social.blog %}
        <a href="{{ site.author.social.blog }}" target="_blank" class="low-emphasis button"><i class="fas fa-blog"></i> <span>Blog</span></a>
        {% endif %}
        {% if site.author.social.mastodon %}
        <a href="{{ site.author.social.mastodon }}" target="_blank" class="low-emphasis button"><i class="fab fa-mastodon"></i> <span>Mastodon</span></a>
        {% endif %}
        {% if site.author.social.twitter-username %}
        <a href="https://Twitter.com/{{ site.author.social.twitter-username }}" target="_blank" class="low-emphasis button"><i class="fab fa-twitter-square"></i> <span>Twitter</span></a>
        {% endif %}
        {% if site.author.social.linkedin-username %}
        <a href="https://LinkedIn.com/in/{{ site.author.social.linkedin-username }}" target="_blank" class="low-emphasis button"><i class="fab fa-linkedin"></i> <span>LinkedIn</span></a>
        {% endif %}
    </section>

    {% if site.source-code %}
    <section class="hide-print flex-row flex-wrap flex-horiz-space-around font-1-1hx">
        <a href="{{ site.source-code }}" target="_blank" class="button"><i class="fa fa-code"></i> <span>View the source code for this résumé</span></a>
    </section>
    {% endif %}

    {% include contact-list.html %}

    <section class="show-print text-centered">
        {{ site.url }}
    </section>

    <aside class="text-center">
        Last updated <time datetime="{{ site.date.newest.web }}">{{ site.date.newest.web }}</time>
        {% if site.document.txt %}
        <span class="hide-print">
        — <a href="{{ site.document.directory }}/{{ site.document.txt.prefix }}{{ site.date.newest.txt }}.txt" title="Text-only version"><i class="far fa-file-alt"></i> Text-only version</a></span>
        {% endif %}
    </aside>
</footer>
