---
layout: portfolio
page-specific-stylesheets:
    - /Portfolio.css
title: "Portfolio"
subtitle: "Portfolio"



portfolio:
    packages:
        -
            title: "Swift Safe Pointer"
            description: "Lets you pass anything using reference semantics without the danger of unsafe pointers"
            url: "https://github.com/RougeWare/Swift-Safe-Pointer"
        -
            title: "Swift Atomic"
            description: "Uses <code>DispatchQueue</code> to ensure a value is only read from and written to by one thread at a time"
            url: "https://github.com/RougeWare/Swift-Atomic"
        -
            title: "SwiftUI Seven-Segment Display"
            description: "A 7-segment display for SwiftUI"
            url: "https://github.com/RougeWare/SwiftUI-SevenSegmentDisplay"
        -
            title: "Swift PropertyWrapper Protocol"
            description: "Lets you reference property wrappers as protocols"
            url: "https://github.com/RougeWare/Swift-PropertyWrapper-Protocol"
        -
            title: "Swift Collection Tools"
            description: "A bunch of tools I tend to write to make collections easier to use"
            url: "https://github.com/RougeWare/Swift-Collection-Tools"
        -
            title: "Swift Basic Math Tools"
            description: "Some basic tools for doing math in Swift"
            url: "https://github.com/RougeWare/Swift-Basic-Math-Tools"
        -
            title: "<code>delete-duplicate-files</code>"
            description: "A small utility to delete all files in a folder matching the given hashes"
            url: "https://github.com/RougeWare/delete-duplicate-files"
        -
            title: "Micro JS Enum"
            description: "94 bytes to bring enums to JavaScript"
            url: "https://github.com/RougeWare/Micro-JS-Enum"
        -
            title: "Micro JS Tagify"
            description: "154 bytes of JavaScript for turning user input like \"tag-a,tag-b tag-c\" into HTML tags"
            url: "https://github.com/RougeWare/Micro-JS-Tagify"
        -
            title: "Micro JS Equals"
            description: "A 157-byte, fully-functional JavaScript global .equals() implementation"
            url: "https://github.com/RougeWare/Micro-JS-Equals"
        -
            title: "Micro JS Array Shuffle"
            description: "An array shuffler in 140 bytes"
            url: "https://github.com/RougeWare/Micro-JS-Array-Shuffle"
---

{% include portfolio-section-start.html
    title='Big Projects'
    id='big-projects'
    aside='These are the most impactful projects I\'ve worked on'
-%}
    {%- include portfolio-item-large.html
        title='MLB for watchOS'
        description='MLB\'s official Watch app'
        url='https://www.mlb.com/apps/mlb-app'
        my-contributions='<p>Led company-wide migration to Swift structured concurrency, boosting performance & maintainability, reducing concurrency crashes by 95%. <br/>Executed precision migration of industry-scale codebase, preserving all business logic: zero-downtime transition with minimal learning curves.</p><p>Developed migration roadmap & technical documentation, enabling 100+ engineers to adopt Swift concurrency patterns</p><p>Augmented cross-platform layer to enable unified codebase serving universal apps for iOS, watchOS, iPadOS, & tvOS. <br/>Retooled legacy components for better integration, reducing technical debt while maintaining backward compatibility</p>'
        image-url='/img/MLB-logo-lightMode.svg'
        image-url-for-dark-theme='/img/MLB-logo-darkMode.svg'
        image-full-bleed=false
    -%}
    {%- include portfolio-item-large.html
        title='Realtor.com for iOS'
        description='Real Estate & Rentals app'
        url='https://www.realtor.com/mobile/#1'
        my-contributions='Lead transition to SwiftUI. Guided removal of core components. <br/>Cross-team leardership to ensure clear sync & quality product. Drove changes to product, process, & team. <br/>Worked with UI/UX to finalize & implement full redesign. Documented & encoded the design system.'
        image-url='/img/Realtor.com-logo.svg'
        image-full-bleed=false
    -%}
    {%- include portfolio-item-large.html
        title='Yes Health'
        description='Individual, goal-oriented health coaching app'
        url='https://yeshealth.com'
        image-url='/img/Yes-Health-logo.svg'
        image-full-bleed=false
    -%}
    {%- include portfolio-item-large.html
        title='Smartcrypt'
        description='Personal file encryption as a service'
        url='https://pkware.com/smartcrypt-for-mobile'
        image-url='/img/Smartcrypt Icon (Blue).svg'
        image-url-for-dark-theme='/img/Smartcrypt Icon (White).svg'
        image-full-bleed=false
    -%}
    {%- include portfolio-item-large.html
        title='Motif'
        description='Custom photo books, calendars, &amp; cards right in Apple Photos'
        url='https://MotifPhotos.com'
        image-url='/img/Motif-icon.svg'
        image-full-bleed=false
    -%}
    {%- include portfolio-item-large.html
        title='Ionic Files'
        description='User-facing desktop file protection software for macOS'
        url='https://Ionic.com/files/'
        image-url='/img/Ionic Files icon.png'
        image-full-bleed=false
    -%}
    {%- include portfolio-item-large.html
        title='PVP 3'
        description='Elegant &amp; powerful video streaming software for statium-tier events'
        url='https://renewedvision.com/provideoplayer'
        image-url='/img/PVP3.png'
        image-full-bleed=false
    -%}
    {%- include portfolio-item-large.html
        title='ProPresenter'
        description='Live video presentation &amp; compositing software'
        url='https://RenewedVision.com/ProPresenter/'
        image-url='/img/ProPresenter icon.png'
        image-full-bleed=false
    -%}
    {%- include portfolio-item-large.html
        title='NCR Silver'
        description='Point-of-sale software supporting mobile payments, sales reporting, loyalty rewards, business management, &amp; more'
        url='https://NCRSilver.com'
        image-url='/img/NCR Silver logo.png'
        image-full-bleed=false
    -%}
    {%- include portfolio-item-large.html
        title='The CSU websites'
        description='Over 100 specialized websites in one modern, responsive design that maintains compatibility with IE 8 through the latest Chrome. CMS integration allows school employees to maintain their own sub-sites'
        url='https://ColumbusState.edu'
        image-url='/img/ColumbusState.edu screenshot.png'
        image-full-bleed=true
    -%}
{%- include portfolio-section-end.html %}






{% include portfolio-section-start.html
    title='Big Personal Projects'
    id='big-personal-projects'
-%}
    {%- include portfolio-item-large.html
        title='This Website'
        description='I wrote all the code and designed all the UI on this site from scratch, without templates.'
        url='https://GitHub.com/KyLeggiero/resumes'
        image-url='/img/Social-Preview.png'
        image-full-bleed=true
    -%}
    {%- include portfolio-item-large.html
        title='Project HOSTESS'
        description='Work-in-progress project to create an extensible task management system'
        url='https://github.com/Project-HOSTESS'
        image-url='https://avatars.githubusercontent.com/u/63386149?v=4?s=400'
        image-full-bleed=true
    -%}
    {%- include portfolio-item-large.html
        title='Rent Split'
        description='Calculates how to split rent fairly based on income'
        url='https://Split.Rent'
        image-url='https://Split.Rent/images/Logo.png'
        image-full-bleed=true
    -%}
    {%- include portfolio-item-large.html
        title='Swift Mines'
        description='A clean and modern Mines game for macOS, written in SwiftUI and published on the Mac App Store'
        url='https://github.com/BlueHuskyStudios/Swift-Mines/releases'
        image-url='https://raw.githubusercontent.com/BlueHuskyStudios/Swift-Mines/master/Swift%20Mines/Swift%20Mines%20for%20macOS/Assets/Assets.xcassets/AppIcon.appiconset/Mines%20Icon%20(512p)%402x.png'
        image-full-bleed=false
    -%}
<!--
    {%- include portfolio-item-large.html
        title='Blue Husky Software Platform'
        description='A platform of modular code and concepts upon which my personal sofware is written. Based on an architecture I came up with, myself.'
        url='https://GitHub.com/BlueHuskyStudios/Blue-Husky-Software-Platform'
        image-url='https://bluehuskystudios.github.io/Blue-Husky-Software-Platform/BHSP Logo.svg'
    -%}
    {%- include portfolio-item-large.html
        title='Pixel Art Resizer'
        description='A simple macOS app which does a good job at resizing pixel art'
        url='https://github.com/BlueHuskyStudios/Pixel-Art-Resizer/releases'
        image-url='https://raw.githubusercontent.com/BlueHuskyStudios/Pixel-Art-Resizer/master/Pixel%20Art%20Resizer/Resources/Assets.xcassets/AppIcon.appiconset/512%20x%20512@2x.png'
    -%}
-->
{%- include portfolio-section-end.html %}



{% capture open-source-contributions-aside %}
These are others' projects to which I've made notable contributions, but which I don't own. There are many which are not listed here to which I have made small contributions. <br/>For those which I own, see <a href="https://KyLeggiero.me/GitHub" target="_blank">my GitHub</a>.
{% endcapture %}



{% include portfolio-section-start.html
    title='Open-Source Con&shy;tri&shy;bu&shy;tions'
    id='open-source-contributions'
    aside=open-source-contributions-aside
-%}
    {%- include portfolio-item-large.html
        title='Kotlin <span>Collection Literals</span> <small>(Proposal)</small>'
        description='A proposal for how to implement collection literals in the Kotlin language'
        url='https://github.com/Kotlin/KEEP/pull/112'
        image-url='/img/Kotlin-logo.svg'
        image-full-bleed=true
    -%}
    {%- include portfolio-item-large.html
        title='Kotlin <span>Error Handling</span> <small>(Proposal)</small>'
        description='A proposal for how to natively handle errors in the Kotlin language'
        url='https://github.com/Kotlin/KEEP/pull/81'
        image-url='/img/Kotlin-logo.svg'
        image-full-bleed=true
    -%}
    {%- include portfolio-item-large.html
        title='Slide Social Buttons'
        description='A set of uniform social share buttons invented by Christopher Yee in 2013 and updated by myself in 2015'
        url='https://github.com/christophery/slide-social-buttons'
        image-url='/img/Slide Social logo.svg'
        image-full-bleed=true
    -%}
{%- include portfolio-section-end.html %}






{% capture open-source-packages-aside %}
A lot of my open-source projects lately are small library packages published under <a href="https://GitHub.com/{{ site.author.social.github-suffix.utilities }}" target="_blank">{{ site.author.social.github-suffix.utilities }}</a>.
{% endcapture %}

<!--
https://swiftpackageindex.com/RougeWare/collection.json
-->

{% include portfolio-subsection-start.html
    title='My Open-Source packages'
    id='my-open-source-projects'
    aside=open-source-packages-aside
%}
        <h3>My contributions to the <a href="https://swiftpackageindex.com/RougeWare" target="_blank">Swift Package Index</a></h3>
    {% include portfolio-list-start.html -%}
    
        {% for package in site.data.RougeWare-Swift-Packages.collection.packages -%}
            {% assign mostRecentVersion = package.versions[0].manifests.first[1] -%}
            {%- include portfolio-item-small.html
                title=mostRecentVersion.packageName
                description=package.summary
                url=package.url
            -%}
        {% endfor -%}
    {% include portfolio-list-end.html %}
    
    
    <h3>My other packages</h3>
    {% include portfolio-list-start.html -%}
        {% for package in page.portfolio.packages -%}
            {%- include portfolio-item-small.html
                title=package.title
                description=package.description
                url=package.url
            -%}
        {% endfor %}
    {% include portfolio-list-end.html %}
{%- include portfolio-subsection-end.html -%}






{% include portfolio-subsection-start.html
    title='The Rest Of My Open-Source Projects'
    id='my-open-source-projects'
-%}
    <big>The rest of my projects, including this site and several apps, are public on <a href="https://KyLeggiero.me/GitHub" target="_blank">my GitHub</a>.</big>
{%- include portfolio-subsection-end.html -%}
